$light-background: #ffffff;
$light-foreground: #f9f9f9;
$light-button: #f5f5f5;
$light-button-hover: #dedede;
$light-button-click: #ffffff;
$light-text: #292d36;
$light-text-bg: #444a57;
$light-operators: #eb6666;

$dark-background: #22252d;
$dark-foreground: #292d36;
$dark-button: #272b33;
$dark-button-hover: #1c1f25;
$dark-button-click: #31353d;
$dark-text: #ffffff;
$dark-text-bg: #e0e0e0;
$dark-operators: #eb6666;

$test-error: #b03d3d;

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
